* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 980px;
    margin: 100px auto;
}

header {
    margin-bottom: 40px;
    display: flex;
    font-size: 24px;
    align-items: center;
    font-weight: 700;

}

header img {
    width: 60px;
    margin-right: 10px;
}
form{
    display: flex;
    margin-bottom: 25px;
}

form input,
form select,
form button {
    padding: 5px 10px;
    background-color: white;
    border: 1px solid rgb(0, 0, 0);
    margin: 0 5px;
    border-radius: 3px;
}

form select {
    width: auto;
    color: black;

}

form button{
    background-color: rgb(255, 47, 0);
    color: white;
    font-weight: 600;
    font-size: 101%;
    border: 1px solid rgb(255, 47, 0);
    cursor: pointer;
}

table{
    border: 1px solid black;
}
a{
    color: black;
    text-decoration: none;
}
tbody td a img{
width: 17px;    
}

table tr{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-size: 14px;
    width: 700px;
    
}

table th, table td{
    text-align: center;
    width: 150px;
    padding: 10px 0; 
}
tbody tr:hover{
    background-color: rgba(255, 47, 0,0.3);
    font-weight: 200;
}
